@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

/* MY OWN CSS */

html {
  background-color: black;
  color: white;
}

@layer base {
  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-sm;
  }

  #describe-div {
    @apply flex flex-col justify-center items-center p-2 my-5;
  }

  .default-colored-button {
    @apply bg-red-600 border-red-600 text-white;
  }

  .default-inverted-button {
    @apply bg-transparent border-red-600 text-red-600;
  }
}

.neon-text {
  color: white;
  font-weight: 600;
  animation: neon-title-animation 2s ease-in-out infinite alternate;
}

@keyframes neon-title-animation {
  0% {
    text-shadow: 0 0 8px red,
      0 0 9px red,
      0 0 10px red,
      0 0 12px red;
  }
  100% {
    text-shadow: 0 0 10px red,
      0 0 20px red,
      0 0 40px red,
      0 0 80px red;
  }
}

.brightbox {
  box-shadow: none;
  text-shadow: none;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.brightbox:hover {
  box-shadow: 0 0 2px red,
      0 0 4px red,
      0 0 8px red,
      0 0 12px red;

  text-shadow: 0 0 2px red,
      0 0 4px red,
      0 0 8px red;
}

.red-energize {
  background: url('../../public/redEnergize.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.glowtext-green {
  animation: glowtextGreen 1s linear infinite alternate;
}

@keyframes glowtextGreen {
  0% {
    text-shadow: 0 0 2px #0aee0a, 0 0 3px #0aee0a;
  }
  100% {
    text-shadow: 0 0 5px #0aee0a, 0 0 8px #0aee0a;
  }
}