@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

/* MY OWN CSS */

html {
  background-color: black;
  color: white;
}

#neon-title h1 {
  color: white;
  font-weight: 600;
  text-shadow: 0 0 10px red,
    0 0 20px red,
    0 0 40px red,
    0 0 80px red;
}

#title-lightbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  border-radius: 10px;
  background-color: white;
  z-index: 2;
  box-shadow: 0 0 10px red,
    0 0 20px red,
    0 0 40px red,
    0 0 80px red;
  animation: animatelightbar 5s linear forwards;
}

@keyframes animatelightbar {
  0%, 5% {
    transform: scaleY(0) translateX(0);
  }
  10% {
    transform: scaleY(1) translateX(0);
  }
  90% {
    transform: scaleY(1) translateX(42vw);
  }
  95%, 100% {
    transform: scaleY(0) translateX(42vw);
  }
}

#title-toplayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  box-shadow: 0 0 30px 20px black, 0 0 30px 10px black;
  animation: animatetoplayer 10s linear forwards;
}

@keyframes animatetoplayer {
  0%, 2.5% {
    transform: translateX(0);
  }
  5% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(42vw);
  }
  47.5%, 100% {
    transform: translateX(42vw);
  }
  100% {
    display: none;
  }
}

/* MEDIA QUERY FOR TITLE ANIMATION */

@media (max-width: 768px) {
  @keyframes animatelightbar {
    0%, 5% {
      transform: scaleY(0) translateX(0);
    }
    10% {
      transform: scaleY(1) translateX(0);
    }
    90% {
      transform: scaleY(1) translateX(90vw);
    }
    95%, 100% {
      transform: scaleY(0) translateX(90vw);
    }
  }

  #title-lightbar {
    animation: animatelightbar 5s linear forwards;
  }

  @keyframes animatetoplayer {
    0%, 2.5% {
      transform: translateX(0);
    }
    5% {
      transform: translateX(0);
    }
    45% {
      transform: translateX(90vw);
    }
    47.5%, 100% {
      transform: translateX(90vw);
    }
    100% {
      display: none;
    }
  }

  #title-toplayer {
    animation: animatetoplayer 10s linear forwards;
  }
}

#buttons-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#buttons-wrapper a {
  position: relative;
  display: inline-block;
  padding: 15px 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #ef6666;
  font-size: 1rem;
  font-weight: bold;
  transition: .5s;
  overflow: hidden;
  margin-right: 20px;
  margin-left: 20px;
  text-shadow: 0 0 10px red, 0 0 5px #ff1515;
}

#buttons-wrapper a:hover {
  background-color: #ef1111;
  color: whitesmoke;
  box-shadow: 0 0 10px red,
    0 0 10px red,
    0 0 15px red,
    0 0 15px red;
  text-shadow: none;
}

#buttons-wrapper a > span {
  position: absolute;
  display: block;
}

#buttons-wrapper a > span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, transparent, red);
  animation: animate1 2s infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

#buttons-wrapper a > span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(180deg, transparent, red);
  animation: animate2 2s infinite;
  animation-delay: .25s;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}

#buttons-wrapper a > span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(270deg, transparent, red);
  animation: animate3 2s infinite;
  animation-delay: .5s;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }
  100% {
    right: 100%;
  }
}

#buttons-wrapper a > span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(270deg, transparent, red);
  animation: animate4 2s infinite;
  animation-delay: .75s;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 100%;
  }
}

#spotlight {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #ffdddc;
  box-shadow: 0 0 8px 10px #ff2222,
    0 0 5px 20px #ff1111,
    0 0 5px 20px #ff0505,
    0 0 100px 20px #ff0000;
}

.default-glow-button {
  padding: 15px 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #ef6666;
  font-size: 1rem;
  font-weight: bold;
  transition: .5s;
  overflow: hidden;
  margin-right: 20px;
  margin-left: 20px;
  text-shadow: 0 0 10px red, 0 0 5px #ff1515;
  border-color: #d10505;
  border-radius: 10px;
  animation: glowbutton 1s ease-in-out infinite alternate;
}

@keyframes glowbutton {
  from {
    box-shadow: 0 0 5px 2px #ee0505, 0 0 10px 5px #be1515;
  }
  to {
    box-shadow: 0 0 10px 5px #ee0505, 0 0 5px 2px #be1515;
  }
}

.glowbox {
  box-shadow: 0 0 10px red,
    0 0 10px red,
    0 0 20px red,
    0 0 20px red;
    animation: glowbox 1s ease-in-out infinite alternate;
}

@keyframes glowbox {
  from {
    box-shadow: 0 0 20px red,
      0 0 20px red,
      0 0 20px red,
      0 0 20px red;
  }
  to {
    box-shadow: 0 0 10px red,
      0 0 10px red,
      0 0 20px red,
      0 0 20px red;
  }
}

/* NProgress CSS Code */

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
